html, body {
    font-size: 14px;
}
body {
    background-color: #F1F1F1; /#78acd7
    font-family: Tahoma, Geneva, sans-serif;
}
.site {
    background: url(../img/lbb-back.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 2%;
}

#surveyBox, #headerBox {
	box-shadow: 1px 1px 8px rgba(0,0,0,0.5);
}
.footer-container {margin: 0 auto; color: #fff;text-align: center; padding: 3%; font-size: 12px;}
#footer a {color: #fff;font-size: 12px;text-decoration: none;}

@media only screen and (min-width: 1030px) {
    .wrapper, .footer-container {
        max-width: 980px;
    }
}
#headerBox{
    background-color: rgba(255,255,255,1);
    border-bottom: 9px solid #4fa04f;
    position: relative;
}
#headerBox:after { position: absolute; bottom: -129px; left: 50%; margin-left: -90px; width: 0; border: solid transparent; border-top: 30px solid #5cb85c !important; border-width: 90px; }

#headerTitle {
    font-family: 'Shadows Into Light Two';
    color: #5cb85c;
	text-align:center;
}
#headline {
	color: #5cb85c;
	text-decoration: none;
    font-size: 1.6em;
}
#headerText {
    font-family: Tahoma, Geneva, sans-serif;
    color: #000000;
}
.progress-wrapper {
    width: 90%;
    height: 20px;
    border: 2px solid #333333;
    background-color: #999999;
    margin: 10px auto;
    overflow: hidden;
}
.progress-bar{
    width: 0%;
    height: 20px;
    border: none;
    background-color: #2396F1;
    margin: 0;
    position: relative;
    left: 0;
    top: 0;
}
#surveyBox {
    margin: 6% 4%;
    background-color: #5cb85c; // rgba(0,0,0,1)
}
#surveyEnd2 {margin: 0 auto; max-width: 600px;}
#surveyEnd2 h4 {font-size: 1.3em;}
.questionStep header, .evalTitle, .emailTitle, #surveyEnd header h4 {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
	font-size: 170%;
    color: #000000; // #ffc341
}
.questionStep h6, .evalText, .emailText, #surveyEnd section {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    color: #ffffff;
}
.yesBtn {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background-color: #ffc341;
    color: #000000;
}
.noBtn {
    font-family: ;
    background-color: #ffc13c;
    color: #000000;
}
.bold {
    font-weight: bold;
}
.checkMark, .decimal {
	list-style: none;
	text-align: left;
	margin: 0;
	padding: 0;
}

.checkMark li {
	background: url("img/marker.png") no-repeat scroll left center transparent;
	font-family: "Trebuchet MS", Tahoma;
	font-size: 15px;
	padding: 6px 5px 6px 25px;
	line-height: 17px;
}

.decimal li {
	background: url("img/decimal.png") no-repeat scroll 0 0 transparent;
	color: #ccc;
	font-family: "Trebuchet MS", Tahoma;
	font-size: 14px;
	padding: 7px 5px 7px 42px;
	line-height: 17px;
}

.decimal li.one {
	background-position: 1px 8px;
}

.decimal li.two {
	background-position: 1px -115px;
}

.decimal li.three {
	background-position: 1px -240px;
}

